body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.tag-list {
  margin: 5px;
}
.tag {
  margin: 5px;
}

.tag-cloud {
  margin-bottom: 30px;
}

.active {
  background-color: #318837;
}

